header {
	background: #404041;

}
h1 {
	text-align: center;
	color: #ED458B;
	font-size: 75px;
	margin-top: -10px;
}

body {
	text-align: center;
	font-family: open-sans; 
}



.second {
	color: #E6E7E8;
}



input {
	width: 500px;
	height: 50px;
	font-size: 40px;
	border-width: 2px;
	border-style: solid;
	border-color: #D0D2D3;
	font-family: open-sans;

}

::placeholder{
	color: #D0D2D3;
}
button {
	background-color: #D0D2D3;
	width: 230px;
	height: 40px;
	font-size: 30px;
	border-radius: 30px;
	font-family: open-sans;
}

button:hover {
	background-color: #EB008B;
}


h3 {
	color: #404041;
	font-size: 30px;
}

div {
	font-size: 300px;
	color: #ED458B;
}



